<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>texture/chalk.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,3958},{50,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,200}</string>
			</dict>
			<key>texture/chalk-box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1050,1758},{397,220}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,225}</string>
			</dict>
			<key>texture/desk1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,586},{558,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{558,202}</string>
			</dict>
			<key>texture/desk2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,366},{697,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{697,220}</string>
			</dict>
			<key>texture/desk3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,3771},{567,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{567,181}</string>
			</dict>
			<key>texture/desk4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3962},{557,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{557,132}</string>
			</dict>
			<key>texture/desk5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1270},{571,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,151}</string>
			</dict>
			<key>texture/desk6.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,2217},{570,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{570,157}</string>
			</dict>
			<key>texture/hair.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,788},{224,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,235}</string>
			</dict>
			<key>texture/love.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,380},{120,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,99}</string>
			</dict>
			<key>texture/plane.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,1421},{317,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,202}</string>
			</dict>
			<key>texture/student1.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,2460},{437,412}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,412}</string>
			</dict>
			<key>texture/student1-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,2897},{437,410}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,410}</string>
			</dict>
			<key>texture/student1-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,3334},{437,409}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{439,409}</string>
			</dict>
			<key>texture/student1-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{437,479}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,479}</string>
			</dict>
			<key>texture/student2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2027},{380,514}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,514}</string>
			</dict>
			<key>texture/student2-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,981},{380,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,523}</string>
			</dict>
			<key>texture/student2-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1504},{380,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,523}</string>
			</dict>
			<key>texture/student2-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,0},{380,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,529}</string>
			</dict>
			<key>texture/student3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2972},{368,497}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,497}</string>
			</dict>
			<key>texture/student3-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3469},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,2972},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,3465},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,981},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-5.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,500},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-6.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1474},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student3-7.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1967},{368,493}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{368,493}</string>
			</dict>
			<key>texture/student4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,0},{303,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,459}</string>
			</dict>
			<key>texture/student4-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,868},{358,459}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{358,462}</string>
			</dict>
			<key>texture/student4-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,380},{356,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{356,459}</string>
			</dict>
			<key>texture/student4-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1758},{302,459}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,461}</string>
			</dict>
			<key>texture/student5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1145,3334},{377,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,439}</string>
			</dict>
			<key>texture/student5-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{418,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{418,502}</string>
			</dict>
			<key>texture/student5-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,3711},{377,439}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{377,439}</string>
			</dict>
			<key>texture/student5-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1378,0},{329,431}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{331,431}</string>
			</dict>
			<key>texture/student6.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,0},{366,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,431}</string>
			</dict>
			<key>texture/student6-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2541},{426,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{426,431}</string>
			</dict>
			<key>texture/student6-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1327},{366,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,431}</string>
			</dict>
			<key>texture/student6-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,839},{366,431}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,431}</string>
			</dict>
			<key>texture/student6-3bird.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,1023},{213,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{213,157}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main_texture.png</string>
			<key>realTextureFileName</key>
			<string>main_texture.png</string>
			<key>size</key>
			<string>{2268,4094}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2268</integer>
			<key>height</key>
			<integer>4094</integer>
		</dict>
	</dict>
</plist>